html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  width: 100%;
}

#welcomeSection div {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.nextButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nextButton:hover {
  background-color: #0056b3;
}
